/*--------------------------------------------------------------
# Contact One
--------------------------------------------------------------*/
.contact-one {
    position: relative;
    display: block;
    padding: 158px 0 150px;
    z-index: 1;
}

.contact-one__left {
    position: relative;
    display: block;
}

.contact-one__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
}

.contact-one__text {
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 25px;
}

.contact-one__email {
    font-weight: 500;
    color: var(--chioary-base);
    border-bottom: 1px solid var(--chioary-base);
}

.contact-one__email:hover {
    color: var(--chioary-base);
    border-bottom: 1px solid var(--chioary-base);
}

.contact-one__img-1 {
    position: relative;
    display: block;
    margin-top: 38px;
}

.contact-one__img-1 img {
    width: 100%;
    opacity: .40;
}

.contact-one__right {
    position: relative;
    display: block;
    background-color: var(--chioary-extra);
    padding: 50px 50px 60px;
}

.contact-one__form {
    position: relative;
    display: block;
}

.contact-one__input-box {
    position: relative;
    display: block;
    margin-bottom: 24px;
}

.contact-one__input-box input[type="text"],
.contact-one__input-box input[type="email"] {
    height: 60px;
    width: 100%;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    outline: none;
    font-size: 16px;
    color: var(--chioary-gray);
    display: block;
    font-weight: 400;
    border-radius: 0px;
    background-color: var(--chioary-white);
}

.contact-one__input-box textarea {
    position: relative;
    height: 160px;
    width: 100%;
    border: none;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    outline: none;
    font-size: 16px;
    color: var(--chioary-gray);
    display: block;
    font-weight: 400;
    border-radius: 0;
    margin-bottom: 0;
    background-color: var(--chioary-white);
}

.contact-one__input-box.text-message-box {
    height: 160px;
}

.contact-one__btn-box {
    position: relative;
    display: block;
    margin-top: 46px;
}

.contact-one__btn {
    border: none;
    background-color: transparent;
}

.contact-one__form .checked-box {
    position: relative;
    display: block;
    min-height: 30px;
    margin-top: 16px;
}

.contact-one__form .checked-box label {
    position: relative;
    display: inline-block;
    padding-left: 39px;
    margin-right: 0px;
    margin-bottom: 0;
    color: var(--chioary-gray);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    cursor: pointer;
    min-height: 30px;
}

.contact-one__form .checked-box input[type="checkbox"] {
    display: none;
}

.contact-one__form .checked-box input[type="checkbox"]+label span {
    position: absolute;
    top: 2px;
    left: 0;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    border: 1px solid var(--chioary-gray);
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.contact-one__form .checked-box label span:before {
    position: absolute;
    top: 4px;
    left: 6px;
    display: block;
    border-bottom: 2px solid var(--chioary-gray);
    border-right: 2px solid var(--chioary-gray);
    content: '';
    width: 8px;
    height: 12px;
    pointer-events: none;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    opacity: 0;
}

.contact-one__form .checked-box input[type="checkbox"]:checked+label span {
    border-color: var(--chioary-gray);
}

.contact-one__form .checked-box input[type="checkbox"]:checked+label span:before {
    opacity: 1;
}


/*--------------------------------------------------------------
# Contact Page
--------------------------------------------------------------*/
.contact-page {
    position: relative;
    display: block;
    padding: 140px 0 0;
    z-index: 1;
}

.contact-page__inner {
    position: relative;
    display: block;
}

.contact-page__title {
    position: relative;
    display: block;
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
    text-align: center;
    margin-bottom: 60px;
}

.contact-page__form {
    position: relative;
    display: block;
}

.contact-page__input-box {
    position: relative;
    display: block;
    margin-bottom: 24px;
}

.contact-page__input-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 11px;
}

.contact-page__input-box input[type="text"],
.contact-page__input-box input[type="email"] {
    height: 50px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    font-size: 16px;
    color: var(--chioary-gray);
    display: block;
    font-weight: 400;
    border-radius: 0px;
    background-color: transparent;
    border: 1px solid var(--chioary-bdr-color);
}

.contact-page__input-box textarea {
    position: relative;
    height: 300px;
    width: 100%;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    font-size: 16px;
    color: var(--chioary-gray);
    display: block;
    font-weight: 400;
    border-radius: 0;
    margin-bottom: 0;
    background-color: transparent;
    border: 1px solid var(--chioary-bdr-color);
}

.contact-page__input-box.text-message-box {
    height: 343px;
}

.contact-page__btn-box {
    position: relative;
    display: block;
}

.contact-page__btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
    outline: none !important;
    font-weight: 600;
    font-size: 16px;
    color: var(--chioary-white);
    padding: 21px 20px 23px;
    font-family: var(--chioary-font-two);
    background-color: var(--chioary-black);
    z-index: 2;
    text-align: center;
    overflow: hidden;
    border: none;
    width: 100%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.contact-page__btn::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--chioary-base);
    background-position: left center;
    transition-timing-function: ease-in-out;
    transition-property: all;
    transform-origin: left;
    transform-style: preserve-3d;
    transform: scaleX(0);
    transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 0.8s;
    z-index: -1;
}

.contact-page__btn:hover:before {
    transform: scaleX(1.0);
    transition: all cubic-bezier(0, 0.96, 0.58, 1.1) 2s;
}

.contact-page__btn:hover {
    color: var(--chioary-white);
}

/*--------------------------------------------------------------
# Contact Two
--------------------------------------------------------------*/
.contact-two {
    position: relative;
    display: block;
    padding: 150px 0 120px;
    z-index: 1;
}

.contact-two__single {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--chioary-extra);
    padding: 30px 30px 30px;
    margin-bottom: 30px;
}

.contact-two__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--chioary-bdr-color);
    border-radius: 50%;
}

.contact-two__icon span {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: var(--chioary-gray);
}

.contact-two__content {
    position: relative;
    display: block;
}

.contact-two__content h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.contact-two__content p a {
    color: var(--chioary-gray);
}

.contact-two__content p a:hover {
    color: var(--chioary-base);
}










/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/