/*--------------------------------------------------------------
# Counter One
--------------------------------------------------------------*/
.counter-one {
    position: relative;
    display: block;
    padding: 150px 0 0px;
    z-index: 1;
}

.counter-one__single {
    position: relative;
    display: flex;
    text-align: center;
    margin-bottom: 30px;
    z-index: 1;
    min-height: 188px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.counter-one__count {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-one__count h3 {
    font-size: 52px;
    font-weight: 700;
    line-height: 52px;
}

.counter-one__count span {
    font-size: 52px;
    font-weight: 700;
    line-height: 52px;
    font-family: var(--chioary-font-two);
    color: var(--chioary-black);
    text-transform: capitalize;
}

.counter-one__count-plus {
    position: relative;
    top: -4px;
}

.counter-one__count-text {
    margin-top: 14px;
}

.counter-one__shape-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

.counter-one__shape-1 img {
    width: auto;
}




















/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/