/*--------------------------------------------------------------
# Donation One
--------------------------------------------------------------*/
.donation-one {
    position: relative;
    display: block;
    background-color: var(--chioary-black);
    padding: 150px 0 150px;
    z-index: 1;
}

.donation-one__shape-1 {
    position: absolute;
    left: 70px;
    bottom: 150px;
    z-index: -1;
}

.donation-one__shape-1 img {
    width: auto;
}

.donation-one__shape-2 {
    position: absolute;
    top: 120px;
    right: 150px;
    z-index: -1;
}

.donation-one__shape-2 img {
    width: auto;
}

.donation-one__left {
    position: relative;
    display: block;
}

.donation-one__img-box {
    position: relative;
    display: block;
}

.donation-one__img {
    position: relative;
    display: block;
}

.donation-one__img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(6, 0, 20, 0) 0%, rgba(18, 29, 24, 0.6) 71.64%, rgba(18, 29, 24, 0.6) 100%);
}

.donation-one__img img {
    width: 100%;
}

.donation-one__logo-and-title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 48px;
    text-align: center;
}

.donation-one__logo {
    position: relative;
    display: block;
}

.donation-one__logo a {
    position: relative;
    display: block;
}

.donation-one__logo a img {
    width: auto;
}

.donation-one__left-title {
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
    color: var(--chioary-white);
    margin-top: 11px;
}

.donation-one__right {
    position: relative;
    display: block;
    margin-top: 24px;
}

.donation-one__right-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    color: var(--chioary-white);
    text-transform: capitalize;
    margin-bottom: 15px;
}

.donation-one__main-tab-box {
    position: relative;
    display: block;
}

.donation-one__main-tab-box .tab-buttons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    height: 80px;
    width: 265px;
    background-color: #0D1411;
}

.donation-one__main-tab-box .tab-buttons .tab-btn {
    position: relative;
    display: flex;
    align-items: center;
}

.donation-one__main-tab-box .tab-buttons .tab-btn+.tab-btn {
    margin-left: 0px;
}

.donation-one__main-tab-box .tab-buttons .tab-btn span {
    position: relative;
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    color: var(--chioary-white);
    background-color: transparent;
    padding: 17px 20px 17px;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    font-family: var(--chioary-font-two);
    border-radius: 25px;
    transition: all 0.5s linear;
    z-index: 1;
}

.donation-one__main-tab-box .tab-buttons .tab-btn span:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0%;
    background-color: var(--chioary-base);
    transition: all 0.3s ease;
    z-index: -1;
}

.donation-one__main-tab-box .tab-buttons .tab-btn.active-btn span:before {
    height: 100%;
}

.donation-one__main-tab-box .tabs-content {
    position: relative;
    display: block;
}

.donation-one__main-tab-box .tabs-content .tab {
    position: relative;
    display: none;
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px);
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    z-index: 10;
}

.donation-one__main-tab-box .tabs-content .tab.active-tab {
    display: block;
    margin-top: 0px;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

.donation-one__inner {
    position: relative;
    display: block;
}

.donation-one__amount-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    color: var(--chioary-white);
    margin-top: 25px;
    margin-bottom: 15px;
}

.donation-one__amount-title span {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: var(--chioary-base);
}

.donation-one__donate-box {
    position: relative;
    display: block;
}

.donation-one__donate-box .donate-amount {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 24px;
}

.donation-one__donate-box .amount-btn-1 {
    color: var(--chioary-white);
    padding: 6px 8px 7px;
    padding-right: 50px;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
    border: none;
    font-size: 16px;
    line-height: 16px;
    border-radius: 28px;
    font-weight: 600;
    font-family: var(--chioary-font-two);
    border: 1px solid #395146;
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 16px;
}

.donation-one__donate-box .amount-btn-1 span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    color: var(--chioary-white);
    background-color: var(--chioary-base);
    border-radius: 50%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.donation-one__donate-box .amount-btn-1 span:hover {
    color: var(--chioary-base);
    background-color: var(--chioary-white);
}

.donation-one__donate-box .donate-amount .amount-btn {
    transition: all 0.4s ease-in-out;
    padding: 11px 20px 11px;
    background-color: transparent;
    color: var(--chioary-white);
    outline: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--chioary-font-two);
    text-transform: capitalize;
    border: 1px solid #395146;
}

.donation-one__donate-box .donate-amount .amount-btn.active {
    background-color: var(--chioary-base);
    color: var(--chioary-white);
    border: 1px solid var(--chioary-base);
}

.donation-one__donate-box .donate-amount input {
    padding: 11px 20px 11px;
    background-color: transparent;
    color: var(--chioary-white);
    max-width: 165px;
    width: 100%;
    outline: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--chioary-font-two);
    text-transform: capitalize;
    border: 1px solid #395146;
}

.donation-one__inner .checked-box {
    position: relative;
    display: block;
    min-height: 30px;
}

.donation-one__inner .checked-box label {
    position: relative;
    display: inline-block;
    padding-left: 39px;
    margin-right: 0px;
    margin-bottom: 0;
    color: rgba(var(--chioary-white-rgb), .60);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    cursor: pointer;
    min-height: 30px;
}

.donation-one__inner .checked-box input[type="checkbox"] {
    display: none;
}

.donation-one__inner .checked-box input[type="checkbox"]+label>span {
    position: absolute;
    top: 2px;
    left: 0;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    border: 1px solid var(--chioary-gray);
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.donation-one__inner .checked-box label>span:before {
    position: absolute;
    top: 4px;
    left: 6px;
    display: block;
    border-bottom: 2px solid var(--chioary-gray);
    border-right: 2px solid var(--chioary-gray);
    content: '';
    width: 8px;
    height: 12px;
    pointer-events: none;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    opacity: 0;
}

.donation-one__inner .checked-box input[type="checkbox"]:checked+label>span {
    border-color: var(--chioary-gray);
}

.donation-one__inner .checked-box input[type="checkbox"]:checked+label>span:before {
    opacity: 1;
}

.donation-one__form {
    position: relative;
    display: block;
    margin-top: 25px;
}

.donation-one__input-box {
    position: relative;
    display: block;
    margin-bottom: 16px;
}

.donation-one__input-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    color: var(--chioary-white);
    margin-bottom: 15px;
}

.donation-one__input-box input[type="text"] {
    height: 50px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    font-size: 16px;
    color: #A0A5A3;
    display: block;
    font-weight: 400;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid #395146;
}

.donation-one__text {
    color: var(--chioary-base);
}

.donation-one__btn-box {
    position: relative;
    display: block;
    margin-top: 25px;
}



























/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/