/*--------------------------------------------------------------
# Join One
--------------------------------------------------------------*/
.join-one {
    position: relative;
    display: block;
    padding: 126px 0 0;
    z-index: 1;
}

.join-one__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--chioary-extra);
    padding: 42px 50px 40px;
}

.join-one__content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
}

.join-one__client-img-list {
    position: relative;
    display: flex;
    align-items: center;
}

.join-one__client-img-list li {
    position: relative;
    display: block;
}

.join-one__client-img-list li+li {
    margin-left: -20px;
}

.join-one__client-img {
    position: relative;
    display: block;
    max-width: 60px;
    width: 100%;
    border: 2px solid var(--chioary-white);
    border-radius: 50%;
}

.join-one__client-img img {
    width: 100%;
    border-radius: 50%;
}

.join-one__client-text {
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    line-height: 34px;
    font-family: var(--chioary-font-two);
}

.join-one__btn-box {
    position: relative;
    display: block;
}





























/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/