/*--------------------------------------------------------------
# Model Details
--------------------------------------------------------------*/
.model-details {
    position: relative;
    display: block;
    padding: 150px 0 150px;
    z-index: 1;
}

.model-details__wrap {
    position: relative;
    display: block;
}

.model-details__inner {
    position: relative;
    display: block;
    padding: 0 20px 13px;
    z-index: 1;
}

.model-details__quross {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.model-details__quross a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-size: 16px;
    color: var(--chioary-white);
    background-color: var(--chioary-black);
    border-radius: 50%;
    transform: rotate(45deg);
}

.model-details__quross a:hover {
    background-color: var(--chioary-base);
}

.model-details__inner-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.model-details__inner .donation-one__main-tab-box {
    max-width: 626px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--chioary-white);
    border-radius: 10px;
    padding: 50px 50px 50px;
}

.donation-one__main-tab-box .tab-buttons {
    background-color: transparent !important;
    border: 1px solid var(--chioary-bdr-color);
}

.model-details__inner .donation-one__main-tab-box .tab-buttons .tab-btn span {
    color: var(--chioary-black);
}

.model-details__inner .donation-one__main-tab-box .tab-buttons .tab-btn.active-btn span {
    color: var(--chioary-white);
}

.model-details__inner .donation-one__amount-title {
    color: var(--chioary-black);
}

.model-details__inner .donation-one__donate-box .amount-btn-1 {
    color: var(--chioary-black);
    border: 1px solid var(--chioary-bdr-color);
}

.model-details__inner .donation-one__donate-box .donate-amount input {
    color: var(--chioary-black);
    border: 1px solid var(--chioary-bdr-color);
}

.model-details__inner .donation-one__donate-box .donate-amount .amount-btn {
    color: var(--chioary-black);
    border: 1px solid var(--chioary-bdr-color);
}

.model-details__inner .donation-one__inner .checked-box label {
    color: var(--chioary-gray);
}

.model-details__inner .donation-one__input-title {
    color: var(--chioary-black);
}

.model-details__inner .donation-one__input-box input[type="text"] {
    color: var(--chioary-gray);
    border: 1px solid var(--chioary-bdr-color);
}

.model-details__bottom {
    position: relative;
    display: block;
}

.model-details__bottom-left {
    position: relative;
    display: block;
    margin-top: 72px;
}

.model-details__rised-and-goals {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.model-details__raised {
    position: relative;
    display: block;
}

.model-details__raised h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
}

.model-details__raised h4 span {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--chioary-gray);
    margin-left: 5px;
}

.model-details__goals {
    position: relative;
    display: block;
}

.model-details__goals h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
}

.model-details__goals h4 span {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--chioary-gray);
    margin-left: 5px;
}

.model-details__bottom-left .progress-levels {
    position: relative;
    display: block;
    margin-top: 28px;
    margin-bottom: 40px;
}

.model-details__bottom-left .progress-levels .progress-box {
    position: relative;
    display: block;
}

.model-details__bottom-left .progress-levels .progress-box .inner {
    position: relative;
    display: block;
}

.model-details__bottom-left .progress-levels .progress-box .bar {
    position: relative;
    display: block;
    z-index: 1;
}

.model-details__bottom-left .progress-levels .progress-box .bar .bar-innner {
    position: relative;
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: var(--chioary-bdr-color);
}

.model-details__bottom-left .progress-levels .progress-box .bar .bar-fill {
    position: relative;
    width: 0px;
    height: 6px;
    border-radius: 3px;
    background-color: #1A3A37;
    transition: all 2000ms ease 300ms;
}

.model-details__bottom-left .progress-levels .progress-box .bar .bar-innner .skill-percent {
    position: absolute;
    top: -72px;
    right: 50%;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--chioary-base);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    transform: translateX(50%);
    z-index: 1;
}

.model-details__bottom-left .progress-levels .progress-box .inner .count-text {
    position: relative;
    color: var(--chioary-white);
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    display: inline-block;
    float: none;
}

.model-details__bottom-left .progress-levels .progress-box .inner .percent {
    position: relative;
    color: var(--chioary-white);
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    display: inline-block;
    float: none;
}

.model-details__bottom-left .progress-box__progress-shape-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    opacity: 1;
}

.model-details__bottom-left .progress-box__progress-shape-1 img {
    width: auto !important;
}

.model-details__btn-box {
    position: relative;
    display: block;
    text-align: center;
}

.model-details__title-1 {
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
    margin-top: 59px;
    margin-bottom: 23px;
}

.model-details__text-2 {
    margin-top: 26px;
    margin-bottom: 60px;
}

.model-details__title-2 {
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
}

.model-details__text-3 {
    margin-top: 23px;
    margin-bottom: 24px;
}

.model-details__points {
    position: relative;
    display: block;
}

.model-details__points li {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.model-details__points li+li {
    margin-top: 24px;
}

.model-details__points-shape {
    position: relative;
    display: block;
    max-width: 6px;
    width: 100%;
    height: 6px;
    background-color: var(--chioary-gray);
    border-radius: 50%;
    top: 10px;
}

.model-details__img-box {
    position: relative;
    display: block;
    margin-top: 48px;
    margin-bottom: 30px;
}

.model-details__img-box-img {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.model-details__img-box-img img {
    width: 100%;
}

.model-details__donate-and-share {
    position: relative;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, .10);
    padding-bottom: 30px;
    margin-top: 60px;
}

.model-details__donate {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.model-details__donate a {
    position: relative;
    display: block;
    text-align: center;
    border: 2px solid #1A3A37;
    font-weight: 600;
    font-family: var(--chioary-font-two);
    color: var(--chioary-black);
    padding: 10px 20px 10px;
}

.model-details__donate a:hover {
    border: 2px solid var(--chioary-base);
}

.model-details__share {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.model-details__share a {
    position: relative;
    display: block;
    text-align: center;
    border: 2px solid #1A3A37;
    font-weight: 600;
    font-family: var(--chioary-font-two);
    color: var(--chioary-black);
    padding: 10px 20px 10px;
}

.model-details__share a:hover {
    border: 2px solid var(--chioary-base);
}

.model-details__bottom-left .comment-form__input-box input[type="text"],
.model-details__bottom-left .comment-form__input-box input[type="email"] {
    border: 1px solid rgba(0, 0, 0, .10);
}

.model-details__bottom-left .comment-form__input-box textarea {
    border: 1px solid rgba(0, 0, 0, .10);
}

.model-details__bottom-left .comment-form__input-box.text-message-box {}

.model-details__comment-text {
    margin-bottom: 42px;
}

.model-details__comment-text span {
    color: var(--chioary-base);
}

.model-details__bottom-left .comment-form__btn {
    width: inherit;
    padding: 21px 40px 23px;
}

.model-details__bottom-left .comment-form__btn>span {
    position: relative;
    display: block;
    width: 12px;
    height: 2px;
    background-color: var(--chioary-white);
    margin-right: 10px;
}

.model-details__right {
    position: relative;
    display: block;
    margin-top: 60px;
}




















/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/