/*--------------------------------------------------------------
# Newsletter One
--------------------------------------------------------------*/
.newsletter-one {
    position: relative;
    display: block;
    padding: 150px 0 150px;
    z-index: 1;
}

.newsletter-one__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(18, 29, 24, 0) 0%, #121D18 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.newsletter-one__bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(18, 29, 24, 0) 0%, #121D18 100%);
}

.newsletter-one__inner {
    position: relative;
    display: block;
    text-align: center;
}

.newsletter-one__title {
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
    color: var(--chioary-white);
    text-transform: capitalize;
}

.newsletter-one__text {
    font-size: 24px;
    line-height: 34px;
    color: var(--chioary-extra);
    margin-bottom: 24px;
    margin-top: 23px;
}

.newsletter-one__form {
    position: relative;
    display: inline-block;
}

.newsletter-one__input {
    position: relative;
    display: inline-block;
}

.newsletter-one__input input[type="email"] {
    position: relative;
    display: inline-block;
    height: 80px;
    width: 745px;
    background-color: transparent;
    border: 2px solid rgba(var(--chioary-white-rgb), .30);
    border-radius: 40px;
    outline: none;
    font-size: 20px;
    color: var(--chioary-gray);
    font-weight: 400;
    padding-right: 90px;
    padding-left: 40px;
    margin: 0 auto;
}

.newsletter-one__btn {
    position: absolute;
    top: 50%;
    right: 10px;
    border: none;
    width: 60px;
    height: 60px;
    font-size: 20px;
    color: var(--chioary-white);
    background-color: var(--chioary-base);
    border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter-one__btn:hover {
    color: var(--chioary-base);
    background-color: var(--chioary-white);
}



/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/