/*--------------------------------------------------------------
# Process One
--------------------------------------------------------------*/
.process-one {
    position: relative;
    display: block;
    padding: 165px 0 120px;
    z-index: 1;
}

.process-one__shape-2 {
    position: absolute;
    left: 170px;
    top: 55px;
    z-index: -1;
}

.process-one__shape-2 img {
    width: auto;
}

.process-one__shape-3 {
    position: absolute;
    right: 275px;
    top: 172px;
    z-index: -1;
}

.process-one__shape-3 img {
    width: auto;
}

.process-one .section-title {
    margin-bottom: 87px;
}

.process-one ul li:nth-child(2) {
    margin-top: 60px;
}

.process-one__inner {
    position: relative;
    display: block;
    z-index: 1;
    counter-reset: count;
}

.process-one__shape-1 {
    position: absolute;
    left: 50%;
    top: 86px;
    transform: translateX(-50%);
    z-index: -1;
}

.process-one__shape-1 img {
    width: auto;
    filter: hue-rotate(150deg) saturate(0.5) brightness(0.65);
    transition: filter 300ms ease;
}

.process-one:hover .process-one__shape-1 img {
    filter: hue-rotate(150deg) saturate(0.75) brightness(0.95);
}

.process-one__single {
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 22px;
}

.process-one__img-box {
    position: relative;
    display: block;
    max-width: 306px;
    width: 100%;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 1;
}

.process-one__img-box::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    bottom: -15px;
    background-color: #EBD3AF;
    border-radius: 50%;
    opacity: 1;
    transition-delay: 0.6s;
    transition: .7s;
    z-index: -1;
}

.process-one__single:hover .process-one__img-box::before {
    background-color: var(--chioary-base);
}

.process-one__img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 50%;
}

.process-one__img img {
    width: 100%;
    border-radius: 50%;
    transform: scale(1.0);
    transition: all 1500ms ease;
}

.process-one__single:hover .process-one__img img {
    transform: scale(1.05) rotate(0deg);
}

.process-one__content {
    position: relative;
    display: block;
    margin-top: 40px;
}

.process-one__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.process-one__title a {
    color: var(--chioary-black);
}

.process-one__title a:hover {
    color: var(--chioary-base);
}

.process-one__count {
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 98px;
    height: 73px;
    background-color: var(--chioary-black);
    border-radius: 50%;
    transform: translateX(-50%);
    opacity: 1;
    transition-delay: 0.6s;
    transition: .7s;
}

.process-one__single:hover .process-one__count {
    background-color: var(--chioary-base);
}

.process-one__count:before {
    position: relative;
    display: flex;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: var(--chioary-white);
    font-family: var(--chioary-font-two);
    counter-increment: count;
    content: "step 0"counter(count);
    transition: all 200ms linear;
    transition-delay: 0.1s;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
















/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/