/*--------------------------------------------------------------
# About One
--------------------------------------------------------------*/
.about-one {
    position: relative;
    display: block;
    padding: 150px 0 0;
    z-index: 1;
}

.about-one__shape-1 {
    position: absolute;
    top: 100px;
    right: 20px;
    z-index: -1;
}

.about-one__shape-1 img {
    width: auto;
    opacity: .50;
}

.about-one .section-title {
    margin-bottom: 23px;
}

.about-one__left {
    position: relative;
    display: block;
    margin-right: 36px;
}

.about-one__img-box {
    position: relative;
    display: block;
    margin-top: 67px;
}

.about-one__img {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
}

.about-one__img::before {
    background: rgba(255, 255, 255, 0.3);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    opacity: 1;
    z-index: 9;
    pointer-events: none;
}

.about-one__img-box:hover .about-one__img::before {
    height: 100%;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.about-one__img img {
    width: 100%;
    transition: .5s ease;
    transform: scale(1.05);
}

.about-one__img-box:hover .about-one__img img {
    transform: scale(1);
}

.about-one__right {
    position: relative;
    display: block;
    margin-top: 9px;
}

.about-one__single {
    position: relative;
    display: block;
    background-color: var(--chioary-extra);
    text-align: center;
    padding: 24px 20px 24px;
    margin-bottom: 26px;
}

.about-one__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: var(--chioary-white);
    border-radius: 50%;
    margin: 0 auto;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.about-one__single:hover .about-one__icon {
    background-color: var(--chioary-base);
}

.about-one__icon span {
    position: relative;
    display: inline-block;
    font-size: 42px;
    color: var(--chioary-black);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.about-one__single:hover .about-one__icon span {
    color: var(--chioary-white);
}

.about-one__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    margin-top: 16px;
    margin-bottom: 11px;
}

.about-one__title a {
    color: var(--chioary-black);
}

.about-one__title a:hover {
    color: var(--chioary-base);
}

.about-one__read-more {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 18px;
}

.about-one__read-more span {
    position: relative;
    display: block;
    width: 12px;
    height: 2px;
    background-color: var(--chioary-black);
}

.about-one__read-more a {
    font-weight: 600;
    font-family: var(--chioary-font-two);
    color: var(--chioary-black);
}

.about-one__read-more a:hover {
    color: var(--chioary-base);
}

.about-one__round-text-box {
    position: relative;
    display: block;
    margin-bottom: 16px;
    text-align: center;
}

.about-one__round-text-box-inner {
    position: relative;
    display: inline-block;
    width: 164px;
    height: 164px;
    border: 1px solid var(--chioary-bdr-color);
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
}

.about-one__curved-circle {
    position: absolute;
    top: 5px;
    left: 0px;
    bottom: 0;
    right: 0;
    color: var(--chioary-black);
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transform: rotate(0deg);
    height: 140px !important;
    font-family: var(--chioary-font-two);
}

.about-one__count {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: var(--chioary-extra);
    border-radius: 50%;
}

.about-one__count h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
}

.about-one__count span {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    font-family: var(--chioary-font-two);
    color: var(--chioary-black);
    top: -3px;
    position: relative;
}

.about-one__client-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}

.about-one__client-img {
    position: relative;
    display: block;
    max-width: 80px;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.about-one__client-img img {
    width: 100%;
}

.about-one__client-content {
    position: relative;
    display: block;
}

.about-one__client-content p {
    position: relative;
    display: inline-block;
    border: 1px solid var(--chioary-bdr-color);
    padding: 6px 20px 6px;
    border-radius: 20px;
}

.about-one__sign {
    position: relative;
    display: block;
    margin-top: 15px;
}

.about-one__sign img {
    width: auto;
}

/*--------------------------------------------------------------
# About Two
--------------------------------------------------------------*/
.about-two {
    position: relative;
    display: block;
    padding: 150px 0 0;
    z-index: 1;
}

.about-two__shape-1 {
    position: absolute;
    top: 160px;
    right: 75px;
    z-index: -1;
}

.about-two__experience-shape-1 img {
    width: auto;
}

.about-two__left {
    position: relative;
    display: block;
}

.about-two__left .section-title {
    margin-bottom: 23px;
}

.about-two__btn-box {
    position: relative;
    display: block;
    margin-top: 25px;
    margin-bottom: 60px;
}

.about-two__counts-list {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
}

.about-two__counts-list li {
    position: relative;
    display: block;
    margin-bottom: 22px;
}

.about-two__counts-icon {
    position: relative;
    display: inline-block;
}

.about-two__counts-icon span {
    position: relative;
    display: inline-block;
    font-size: 38px;
    color: var(--chioary-gray);
    transition-delay: 0.1s;
    transition: all 500ms ease;
}

.about-two__counts-list li:hover .about-two__counts-icon span {
    transform: rotateY(180deg);
    transition-delay: 0.1s;
}

.about-two__counts-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-top: 19px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

.about-two__count {
    position: relative;
    display: flex;
    align-items: center;
}

.about-two__right {
    position: relative;
    display: block;
    margin-left: 86px;
}

.about-two__img-box {
    position: relative;
    display: block;
}

.about-two__img {
    position: relative;
    display: block;
    border-bottom-right-radius: 50px;
    clip-path: polygon(0 47.5%, 38% 47.5%, 38% 0%, 85% 0%, 100% 0, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
    z-index: 1;
}

.about-two__img:before {
    background: rgba(255, 255, 255, 0.3);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    opacity: 1;
    z-index: 9;
    pointer-events: none;
}

.about-two__img-box:hover .about-two__img:before {
    height: 100%;
    opacity: 0;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.about-two__img img {
    width: 100%;
    border-bottom-right-radius: 50px;
}

.about-two__img-2 {
    position: absolute;
    top: 0;
    left: -86px;
}

.about-two__img-2 img {
    width: auto;
}

.about-two__video-link {
    position: absolute;
    bottom: 0;
    right: 0;
}

.about-two__video-icon {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    color: var(--chioary-white);
    background-color: var(--chioary-base);
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    z-index: 1;
}

.about-two__video-icon:hover {
    background-color: var(--chioary-white);
    color: var(--chioary-base);
}

.about-two__video-link .ripple,
.about-two__video-icon .ripple:before,
.about-two__video-icon .ripple:after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -ms-box-shadow: 0 0 0 0 rgba(var(--chioary-base-rgb), 0.6);
    -o-box-shadow: 0 0 0 0 rgba(var(--chioary-base-rgb), 0.6);
    -webkit-box-shadow: 0 0 0 0 rgba(var(--chioary-base-rgb), 0.6);
    box-shadow: 0 0 0 0 rgba(var(--chioary-base-rgb), 0.6);
    -webkit-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
}

.about-two__video-icon .ripple:before {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    content: "";
    position: absolute;
}

.about-two__video-icon .ripple:after {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    content: "";
    position: absolute;
}

.about-two__experience {
    position: absolute;
    bottom: 89px;
    left: -25px;
    text-align: center;
    z-index: 1;
}

.about-two__experience-count {
    position: relative;
    display: block;
}

.about-two__experience-count h3 {
    font-size: 52px;
    font-weight: 700;
    line-height: 52px;
    color: var(--chioary-white);
}

.about-two__experience p {
    font-weight: 600;
    color: var(--chioary-white);
}

.about-two__experience-shape-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-57%) translateY(-49%);
    z-index: -1;
}

.about-two__experience-shape-1 img {
    width: auto;
}

/*--------------------------------------------------------------
# About Three
--------------------------------------------------------------*/
.about-three {
    position: relative;
    display: block;
    padding: 150px 0 0;
    z-index: 1;
}

.about-three__shape-1 {
    position: absolute;
    top: 185px;
    left: 115px;
    animation: topBottom 3s ease-in-out infinite;
    z-index: -1;
}

.about-three__shape-1 img {
    width: auto;
    opacity: .10;
}

.about-three__shape-2 {
    position: absolute;
    top: 150px;
    right: 135px;
    animation: leftRight 4s ease-in-out infinite;
    z-index: -1;
}

.about-three__shape-2 img {
    width: auto;
}

.about-three__left {
    position: relative;
    display: block;
}

.about-three__left .section-title {
    margin-right: -50px;
    margin-bottom: 31px;
}

.about-three__left-img-and-content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
}

.about-three__left-img-1 {
    position: relative;
    display: block;
    max-width: 305px;
    width: 100%;
}

.about-three__left-img-1 img {
    width: 100%;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.about-three__left-content {
    position: relative;
    display: block;
}

.about-three__left-points {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 37px;
    margin-top: 24px;
}

.about-three__left-points li {
    position: relative;
    display: block;
    text-align: center;
    max-width: 80px;
    width: 100%;
    margin-bottom: 23px;
}

.about-three__left-points li .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: var(--chioary-extra);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
}

.about-three__left-points li .icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--chioary-base);
    background-position: center top;
    transition-delay: .1s;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    transition-property: all;
    transform-origin: top;
    transform-style: preserve-3d;
    transform: scaleY(0);
    z-index: -1;
}

.about-three__left-points li:hover .icon::before {
    transform: scaleY(1.0);
}

.about-three__left-points li .icon span {
    position: relative;
    display: inline-block;
    font-size: 26px;
    color: var(--chioary-black);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.about-three__left-points li:hover .icon span {
    color: var(--chioary-white);
}

.about-three__left-points li h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    margin-top: 10px;
}

.about-three__left-points li h4 a {
    color: var(--chioary-black);
}

.about-three__left-points li h4 a:hover {
    color: var(--chioary-base);
}

.about-three__right {
    position: relative;
    display: block;
    margin-left: -24px;
}

.about-three__right-img {
    position: relative;
    display: block;
}

.about-three__right img {
    width: 100%;
}

.about-three__round-text-box {
    position: absolute;
    top: 50px;
    left: -35px;
}

.about-three__round-text-box-inner {
    position: relative;
    display: inline-block;
    width: 164px;
    height: 164px;
    background-color: var(--chioary-extra);
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
}

.about-three__curved-circle {
    position: absolute;
    top: 5px;
    left: 0px;
    bottom: 0;
    right: 0;
    color: var(--chioary-black);
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    transform: rotate(0deg);
    height: 140px !important;
    font-family: var(--chioary-font-two);
}

.about-three__count {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: var(--chioary-black);
    border-radius: 50%;
}

.about-three__count h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    color: var(--chioary-white);
}

.about-three__count span {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    font-family: var(--chioary-font-two);
    color: var(--chioary-white);
    top: -3px;
    position: relative;
}









/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/