/*--------------------------------------------------------------
# Become Volunteer
--------------------------------------------------------------*/
.become-volunteer {
    position: relative;
    display: block;
    z-index: 1;
}

.become-volunteer__shape-1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    -webkit-animation-name: float-bob-y-2;
    animation-name: float-bob-y-2;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.become-volunteer__shape-1 img {
    width: auto;
}

.become-volunteer__inner {
    position: relative;
    display: flex;
    align-items: center;
}

.become-volunteer__single {
    position: relative;
    display: block;
    width: 50%;
    text-align: center;
    background-color: var(--chioary-black);
    padding: 100px 50px 100px;
    z-index: 1;
}

.become-volunteer__single-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .40;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.become-volunteer__single-bg-2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.become-volunteer__single-bg-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(97, 68, 39, 0.5) 0%, rgba(21, 21, 23, 0.8) 49.75%, rgba(21, 21, 23, 0.8) 100%);
}

.become-volunteer__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    font-style: italic;
    color: var(--chioary-white);
}

.become-volunteer__title a {
    color: var(--chioary-white);
}

.become-volunteer__title a:hover {
    color: var(--chioary-base);
}

.become-volunteer__text {
    color: rgba(var(--chioary-white-rgb), .80);
    margin-top: 19px;
    margin-bottom: 20px;
}

.become-volunteer__btn-box {
    position: relative;
    display: block;
}

/*--------------------------------------------------------------
# Become Volunteer Two
--------------------------------------------------------------*/
.become-volunteer-two {
    position: relative;
    display: block;
    padding: 120px 0 120px;
    z-index: 1;
}

.become-volunteer-two__single {
    position: relative;
    display: block;
    text-align: center;
    background-color: var(--chioary-black);
    padding: 47px 20px 46px;
    margin-bottom: 30px;
    z-index: 1;
}

.become-volunteer-two__single-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .50;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.become-volunteer-two__single-bg-2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.become-volunteer-two__single-bg-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(97, 68, 39, 0.5) 0%, rgba(21, 21, 23, 0.5) 49.75%, rgba(21, 21, 23, 0.5) 100%);
}

.become-volunteer-two__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    font-style: italic;
}

.become-volunteer-two__title a {
    color: var(--chioary-white);
}

.become-volunteer-two__title a:hover {
    color: var(--chioary-base);
}

.become-volunteer-two__text {
    color: rgba(var(--chioary-white-rgb), .80);
    margin-top: 19px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.become-volunteer-two__btn-box {
    position: relative;
    display: block;
}










/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/