/*==============================================
    Site Footer
===============================================*/
.site-footer {
    position: relative;
    display: block;
    background-color: var(--chioary-black);
    z-index: 1;
}

.site-footer__shape-1 {
    position: absolute;
    top: 23px;
    left: 0;
    z-index: -1;
}

.site-footer__shape-1 img {
    width: auto;
    opacity: .20;
}

.site-footer__shape-2 {
    position: absolute;
    left: 140px;
    bottom: 204px;
    z-index: -1;
}

.site-footer__shape-2 img {
    width: auto;
    opacity: .20;
}

.site-footer__shape-3 {
    position: absolute;
    top: 130px;
    right: 140px;
    z-index: -1;
}

.site-footer__shape-3 img {
    width: auto;
}

.site-footer__top {
    position: relative;
    display: block;
}

.site-footer__top-inner {
    position: relative;
    display: block;
    padding: 150px 0 149px;
}

.footer-widget__about {
    position: relative;
    display: block;
}

.footer-widget__about-logo {
    position: relative;
    display: inline-block;
}

.footer-widget__about-text {
    margin: 0;
    color: rgba(var(--chioary-white-rgb), .70);
    padding-top: 24px;
    padding-bottom: 62px;
}

.site-footer__social {
    position: relative;
    display: flex;
    align-items: center;
}

.site-footer__social a {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    color: var(--chioary-white);
    background-color: rgba(var(--chioary-white-rgb), 0.05);
    border-radius: 50%;
    font-size: 19px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
}

.site-footer__social a img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.site-footer__social a:hover {
    color: var(--chioary-white);
    background-color: var(--chioary-base);
}

.site-footer__social a:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: var(--chioary-base);
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transition-property: all;
    transition-property: all;
    opacity: 1;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    z-index: -1;
}

.site-footer__social a:hover:before {
    opacity: 1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

.site-footer__social a+a {
    margin-left: 10px;
}

.footer-widget__title {
    position: relative;
    display: inline-block;
    font-size: 24px;
    color: var(--chioary-white);
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 32px;
    text-transform: capitalize;
    margin-top: 20px;
}

.footer-widget__links {
    position: relative;
    display: block;
}

.footer-widget__links-list {
    position: relative;
    display: block;
}

.footer-widget__links-list li+li {
    margin-top: 16px;
}

.footer-widget__links-list li a {
    color: rgba(var(--chioary-white-rgb), .70);
    position: relative;
    display: inline-block;
    text-transform: capitalize;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer-widget__links-list li a:hover {
    color: var(--chioary-base);
}

.footer-widget__contact {
    position: relative;
    display: block;
}

.footer-widget__contact-list {
    position: relative;
    display: block;
}

.footer-widget__contact-list li {
    position: relative;
    display: block;
}

.footer-widget__contact-list li+li {
    margin-top: 20px;
}

.footer-widget__contact-list li p {
    color: rgba(var(--chioary-white-rgb), .70);
}

.footer-widget__contact-list li p a {
    color: rgba(var(--chioary-white-rgb), .70);
}

.footer-widget__contact-list li:nth-child(2) p a {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    font-family: var(--chioary-font-two);
    color: var(--chioary-base);
}

.footer-widget__contact-list li:nth-child(2) p a:hover {
    color: var(--chioary-white);
}

.footer-widget__contact-list li p a:hover {
    color: var(--chioary-base);
}

.footer-widget__services {
    position: relative;
    display: block;
}

.site-footer__bottom {
    position: relative;
    display: block;
    border-top: 1px solid rgba(var(--chioary-white-rgb), .20);
}

.site-footer__bottom-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0 24px;
}

.site-footer__copyright {
    position: relative;
    display: block;
}

.site-footer__copyright-text {
    color: rgba(var(--chioary-white-rgb), .70);
}

.site-footer__copyright-text a {
    color: var(--chioary-base);
}

.site-footer__copyright-text a:hover {
    color: var(--chioary-white);
}

.site-footer__bottom-menu-box {
    position: relative;
    display: block;
}

.site-footer__bottom-menu {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.site-footer__bottom-menu li {
    position: relative;
    display: block;
}

.site-footer__bottom-menu li+li {
    margin-left: 25px;
}

.site-footer__bottom-menu li a {
    position: relative;
    display: inline-block;
    color: rgba(var(--chioary-white-rgb), .70);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.site-footer__bottom-menu li a:hover {
    color: var(--chioary-base);
}

/*==============================================
    Site Footer Two
===============================================*/
.site-footer-two {
    position: relative;
    display: block;
    background-color: #111513;
    z-index: 1;
}

.site-footer-two__shape-1 {
    position: absolute;
    top: 90px;
    right: 120px;
    z-index: -1;
}

.site-footer-two__shape-1 img {
    width: auto;
}

.site-footer-two__top {
    position: relative;
    display: block;
}

.site-footer-two__top-inner {
    position: relative;
    display: block;
    padding: 150px 0 149px;
}

.footer-widget-two__about {
    position: relative;
    display: block;
    margin-right: 95px;
}

.footer-widget-two__about-logo {
    position: relative;
    display: inline-block;
}

.footer-widget-two__about-text {
    margin: 0;
    color: rgba(var(--chioary-white-rgb), .70);
    padding-top: 24px;
    padding-bottom: 62px;
}

.footer-widget-two__form {
    position: relative;
    display: block;
}

.footer-widget-two__input {
    position: relative;
    display: block;
}

.footer-widget-two__input input[type="email"] {
    position: relative;
    display: inline-block;
    height: 60px;
    width: 100%;
    background-color: transparent;
    border: 2px solid rgba(65, 74, 70, .30);
    border-radius: 40px;
    outline: none;
    font-size: 18px;
    color: var(--chioary-gray);
    font-weight: 400;
    padding-right: 90px;
    padding-left: 40px;
    margin: 0 auto;
}

.footer-widget-two__btn {
    position: absolute;
    top: 50%;
    right: 0px;
    border: none;
    width: 60px;
    height: 60px;
    font-size: 20px;
    color: var(--chioary-white);
    background-color: var(--chioary-base);
    border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-widget-two__btn:hover {
    color: var(--chioary-base);
    background-color: var(--chioary-white);
}

.footer-widget-two__title {
    position: relative;
    display: inline-block;
    font-size: 24px;
    color: var(--chioary-white);
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 32px;
    text-transform: capitalize;
    margin-top: 20px;
}

.footer-widget-two__links {
    position: relative;
    display: block;
}

.footer-widget-two__links-list {
    position: relative;
    display: block;
}

.footer-widget-two__links-list li+li {
    margin-top: 16px;
}

.footer-widget-two__links-list li a {
    color: rgba(var(--chioary-white-rgb), .70);
    position: relative;
    display: inline-block;
    text-transform: capitalize;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer-widget-two__links-list li a:hover {
    color: var(--chioary-base);
}

.footer-widget-two__contact {
    position: relative;
    display: block;
    margin-left: -24px;
}

.footer-widget-two__contact-list {
    position: relative;
    display: block;
}

.footer-widget-two__contact-list li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-widget-two__contact-list li+li {
    margin-top: 20px;
}

.footer-widget-two__contact-list li .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(65, 74, 70, .30);
    border-radius: 50%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer-widget-two__contact-list li .icon:hover {
    background-color: var(--chioary-base);
    border: 1px solid var(--chioary-base);
}

.footer-widget-two__contact-list li .icon span {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: var(--chioary-white);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer-widget-two__contact-list li p {
    color: rgba(var(--chioary-white-rgb), .70);
}

.footer-widget-two__contact-list li p a {
    color: rgba(var(--chioary-white-rgb), .70);
}

.footer-widget-two__contact-list li p a:hover {
    color: var(--chioary-base);
}

.footer-widget-two__services {
    position: relative;
    display: block;
}

.site-footer-two__bottom {
    position: relative;
    display: block;
    border-top: 1px solid rgba(var(--chioary-white-rgb), .20);
}

.site-footer-two__bottom-inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0 24px;
}

.site-footer-two__copyright {
    position: relative;
    display: block;
}

.site-footer-two__copyright-text {
    color: rgba(var(--chioary-white-rgb), .70);
}

.site-footer-two__copyright-text a {
    color: var(--chioary-base);
}

.site-footer-two__copyright-text a:hover {
    color: var(--chioary-white);
}

.site-footer-two__bottom-menu-box {
    position: relative;
    display: block;
}

.site-footer-two__bottom-menu {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.site-footer-two__bottom-menu li {
    position: relative;
    display: block;
}

.site-footer-two__bottom-menu li+li {
    margin-left: 25px;
}

.site-footer-two__bottom-menu li a {
    position: relative;
    display: inline-block;
    color: rgba(var(--chioary-white-rgb), .70);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.site-footer-two__bottom-menu li a:hover {
    color: var(--chioary-base);
}

/*==============================================
    Site Footer Three
===============================================*/
.site-footer-three {
    background-color: #141414;
}

.site-footer-three__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.05;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.site-footer-three__shape-1 {
    position: absolute;
    top: 80px;
    right: 120px;
    z-index: -1;
}

.site-footer-three__shape-1 img {
    width: auto;
}

.site-footer-three .site-footer__top-inner {
    padding: 150px 0 100px;
}

.site-footer__middle {
    position: relative;
    display: block;
    border-top: 1px solid rgba(var(--chioary-white-rgb), .20);
    padding: 56px 0 56px;
}

.site-footer__middle-list {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.site-footer__middle-list li {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 25px;
}

.site-footer__middle-list li .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border: 1px dashed rgba(var(--chioary-white-rgb), .20);
    border-radius: 50%;
}

.site-footer__middle-list li .icon::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 14px;
    right: 14px;
    bottom: 14px;
    background-color: #1E1E1E;
    border-radius: 50%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.site-footer__middle-list li:hover .icon::before {
    background-color: var(--chioary-base);
}

.site-footer__middle-list li .icon span {
    position: relative;
    display: inline-block;
    font-size: 22px;
    color: var(--chioary-white);
}

.site-footer__middle-list li .content {
    position: relative;
    display: block;
}

.site-footer__middle-list li .content h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    color: var(--chioary-white);
    margin-bottom: 15px;
}

.site-footer__middle-list li .content p {
    color: rgba(var(--chioary-white-rgb), .70);
}

.site-footer__middle-list li .content p a {
    color: rgba(var(--chioary-white-rgb), .70);
}

.site-footer__middle-list li .content p a:hover {
    color: var(--chioary-base);
}












/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/