/*--------------------------------------------------------------
# Google Map One
--------------------------------------------------------------*/
.google-map-one {
    position: relative;
    display: block;
    z-index: 1;
}

.google-map__one {
    position: relative;
    display: block;
    border: none;
    height: 580px;
    width: 100%;
}


/*--------------------------------------------------------------
# Google Map Two
--------------------------------------------------------------*/
.google-map-two {
    position: relative;
    display: block;
    padding: 150px 0 0;
    z-index: 1;
}

.google-map__two {
    position: relative;
    display: block;
    border: none;
    height: 700px;
    width: 100%;
}











/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/