/*--------------------------------------------------------------
# Page Header
--------------------------------------------------------------*/
.page-header {
    position: relative;
    display: block;
    padding: 370px 0 195px;
    background-color: #141414;
    overflow: hidden;
    z-index: 1;
}

.page-header__bg-shape {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .40;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.page-header__shape-1 {
    display: none;
}

.page-header__inner {
    position: relative;
    display: block;
    text-align: center;
}

.page-header__inner h2 {
    font-size: 96px;
    font-weight: 700;
    line-height: 106px;
    color: var(--chioary-white);
    text-transform: capitalize;
    margin-bottom: 25px;
}

.thm-breadcrumb__box {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.thm-breadcrumb {
    position: relative;
    display: inline-block;
}

.thm-breadcrumb li {
    position: relative;
    display: inline-block;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    color: var(--chioary-white);
    font-style: italic;
    font-family: var(--chioary-font-two);
    text-transform: capitalize;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.thm-breadcrumb li span {
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
}

.thm-breadcrumb li a {
    position: relative;
    display: inline-block;
    color: var(--chioary-white);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.thm-breadcrumb li:hover a {
    color: var(--chioary-black);
}









/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/